html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.wrapper {
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  color: var(--primary-color);
  /* color: #353f4f; */
  position: relative;
  z-index: 10;
  font-size: 40px;
  text-align: center;
  font-family: GilroyBold, sans-serif;
}

/* item-overlay  */

.item-overlay {
  position: relative;
}

.item-overlay:hover::after {
  background-image: url('../images/events/hover-overlay.png');
  /* background: linear-gradient(180deg, rgba(0, 102, 255, 0.2) 0%, rgba(0, 102, 255, 0.6) 60%, rgba(0, 0, 0, 1) 100%); */
}

.item-overlay:hover::before {
  bottom: 0;
}

.item-overlay::after {
  transition: all 0.3s ease-in-out;
  position: absolute;
  background-image: url('../images/events/overlay.png');
  /* background: linear-gradient(
    180deg,
    rgba(0, 102, 255, 0) 25%,
    rgba(0, 56, 140, 0.5999649859943977) 80%,
    rgba(0, 0, 0, 0.97) 100%
  ); */
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.item-overlay.not-show::before {
  display: none;
}

.item-overlay::before {
  transition: all 0.2s ease-in-out;
  position: absolute;
  border-radius: 100px 100px 20px 20px;
  content: '';
  width: 100%;
  height: 190px;
  left: 0;
  bottom: -190px;
  z-index: 10;
  background-color: var(--primary-color);
  /* background-color: #0066ff; */
}

/* overhung-rectangle */

.overhung-rectangle {
  position: relative;
}

.overhung-rectangle::before {
  position: absolute;
  content: '';
  top: -55px;
  left: 50%;
  width: 485px;
  height: 55px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.pt-100 {
  padding-top: 100px;
}

/*  */

.page-row {
  display: flex;
  flex-wrap: wrap;
}

.col-1-12,
.col-8-12,
.col-3-12,
.col-8-12,
.col-4-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1-12 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-2-12 {
  flex: 0 0 16.6666666%;
  max-width: 16.6666666%;
}
.col-3-12 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4-12 {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
}
.col-7-12 {
  flex: 0 0 58.3333333%;
  max-width: 58.3333333%;
}
.col-8-12 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9-12 {
  flex: 0 0 75%;
  max-width: 75%;
}

/* titles */

.title-lg {
  position: relative;
  font-size: 40px;
  line-height: 1;
  color: var(--primary-color);
  font-family: GilroyBold, sans-serif;
}
.title-md {
  position: relative;
  font-size: 32px;
  line-height: 1;
  color: var(--primary-color);
  font-family: GilroyBold, sans-serif;
}
.title-sm {
  position: relative;
  font-size: 24px;
  line-height: 1;
  color: var(--primary-color);
  font-family: GilroyBold, sans-serif;
}

.block-text {
  font-size: 20px;
  font-family: GilroyRegular, sans-serif;
  margin: 15px 0;
}
/* 
.block-text + .block-text {
  margin-top: 10px;
} */

/* scale-photo-hover */

.scale-photo-hover {
  position: relative;
  overflow: hidden;
}

.scale-photo-hover img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.scale-photo-hover:hover img {
  transform: scale(1.1);
}

.scale-photo-hover::after {
  cursor: pointer;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2e79b294;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.scale-photo-hover::before {
  cursor: pointer;
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: url('../images/icons/search-gold.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.hand-pointer.scale-photo-hover::before {
  background-image: url('../images/icons/hand-pointer.svg');
}

.scale-photo-hover:hover::before,
.scale-photo-hover:hover::after {
  opacity: 1;
}

/* decor */

.bottom-line {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.bottom-line::after {
  background-color: #bac5c6;
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 40%;
  bottom: 0;
}

.photo-element {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* list */
.bulleted-list {
  margin-left: 15px;
  font-family: GilroyRegular, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.bulleted-list-item {
  position: relative;
}

.bulleted-list-item::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  /* border-radius: 50%; */
}

/* link */
.underlined-link {
  display: inline-block;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.underlined-link:hover {
  text-decoration: underline;
}

/* .swiper {
  width: 600px;
  height: 300px;
} */
