@import './variables.css';
@import './header.css';
@import './top-slider.css';
@import './about.css';
@import './news.css';
@import './gallery.css';
@import './contacts.css';
@import './partners.css';
@import './footer.css';
@import './main-slider.css';

@import './videos.css';
@import './new-gallery.css';
@import './events.css';
@import './first-screen-v2.css';
@import './gallery-v2.css';
@import './news-v2.css';
@import './stats.css';
@import './events2.css';

@font-face {
  font-family: GilroyBold;
  src: url('../fonts/Gilroy-Bold.woff');
}

@font-face {
  font-family: GilroyRegular;
  src: url('../fonts/Gilroy-Regular.woff');
}
