:root {
  --gray-color: #f2f4fd;
  --primary-color: #1d5d9b; /* rgb(29, 93, 155) */
  --black-color: #333132;
  --light-black-color: #353f4f;

  --section-margin-bottom: 150px;
}

/* --primary-color: #0066ff; */
